-myDEBUG-*.log
-cache/*.sql
-cache/sess_*
-cache/*.log
-includes/modules/payment/paypal/logs/*.log
-local/configure.php
-*.php1
-*.bak
-*.old
-devtools.php
 Thumbs.db
-staging-backup/
documents/
-includes/configure.php
cache/
temp/
mail/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bak
